
/* Reset Rule */
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background: linear-gradient(#ffc90e,rosybrown);
}
header{
    color: hsl(128, 87%, 55%);
    background: linear-gradient(rosybrown,#ffc90e);
    
}

.highlight{
    color: hsl(128, 83%, 43%);
}