
/* Reset Rule */
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    color: #5b1e09;
    background-color: #491e10;
}

header{
    color: rgb(188, 207, 207);
    background-color: #ffc90e;
    margin-bottom:2em;
}

#workarea{
    width: 80%;
    margin: auto;
    color: rgb(8, 116, 23);
    background-color: #ffc90e;
}