
/* Reset Rule */
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background: linear-gradient(#ffc90e,rosybrown);
}

#wrapper{
    width: 95vw;
    margin: auto;
}

header{
    color: hsl(128, 87%, 55%);
    background: linear-gradient(rosybrown,#ffc90e);
    
}

.highlight{
    color: hsl(128, 83%, 43%);
}

p{
    padding: 1em;
}