
/* Reset Rule */
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background: linear-gradient(rosybrown,#ffc90e,rosybrown);
}

#wrapper{
    width: 95vw;
    margin: auto;
}

header{
    color: hsl(128, 87%, 55%);
   /*  background: linear-gradient(rosybrown,#ffc90e);*/
   
}

.logo{
    font: 4em sans-serif ; 
}

.highlight{
    color: hsl(128, 83%, 43%);
}

.highlight2{
    text-justify: right;
}

p{
    padding: 1em;
}